In [1]:
# Importing packages thats being used
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
movies = pd.read_csv('/Users/joeloscarsson/Documents/www/Machine-Learning/Projects/data3/movies.csv')
ratings = pd.read_csv('/Users/joeloscarsson/Documents/www/Machine-Learning/Projects/data3/ratings.csv')

# # Converting to the datatypes i want to use. 
# df_movies = pd.read_csv(movies, usecols=['movieId', 'title'], dtype={'movieId': 'int32', 'title': 'str'})
# df_ratings = pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype={'userId': 'int32', 'movieId': 'int32', 'rating':'float32'})

In [ ]:
movies.head()

In [ ]:
# Checking datatypes and entries
print(movies.info())

# We have 58098 Movies in this dataset
print(movies.describe())

# We have zero NaN values... for now...
print(movies.isnull().sum().sum())

In [ ]:
ratings.head()

In [ ]:
# Checking datatypes and entries
print(ratings.info())


print(ratings.head())

# Investigating what kind of values we have in the rating
# Can see that we have from 0.5-5.0, i want to avoid diluting this list 
print(ratings.value_counts(['rating']))

In [ ]:
# So we have zero NaN values in the entire df of ratings, for now...
print(ratings.isnull().sum().sum())

In [ ]:
# TODO: Plot how many NaN values there is in the dataset

# TODO: See how many missing values there is in the dataset

In [ ]:
# TODO: Plot how many NaN values there is in the dataset
# TODO: Plot top10 movies with best ratings
# TODO: Calculate the mean rating for the top10 with THE MOST ratings, and plot
# TODO: Do a plot over the years and how many movies that was created that year, to represent the dataset
# TODO: Do a plot over the combined rating against movield
# TODO: Calculate the mean ratings for the top10 movies with the most ratings, make a stapel diagram from this

# TODO: There is a logical error in the video guide. (Might have something to do with the quote below)
       # "Hi, while you are trying not to present the recommendation of 'toy story' itself, by adding: print(df_movies['title'][i].where(i!=idx))
        # you still have that in the first line as NaN"

       # Maybe it is because in df_movies movield the toy story has index 0? Somehow it can mess with
       # everything since we fillna 0 values to rating