In [1]:
# Importing packages thats being used
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
movies = pd.read_csv('/Users/joeloscarsson/Documents/www/Machine-Learning/Projects/data3/movies1.csv')
ratings = pd.read_csv('/Users/joeloscarsson/Documents/www/Machine-Learning/Projects/data3/ratings1.csv')

# # Converting to the datatypes i want to use. 
# df_movies = pd.read_csv(movies, usecols=['movieId', 'title'], dtype={'movieId': 'int32', 'title': 'str'})
# df_ratings = pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype={'userId': 'int32', 'movieId': 'int32', 'rating':'float32'})

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Checking datatypes and entries
print(movies.info())

# We have 58098 Movies in this dataset
print(movies.describe())

# We have zero NaN values... for now...
print(movies.isnull().sum().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB
None
             movieId
count   58098.000000
mean   111919.516197
std     59862.660956
min         1.000000
25%     72437.750000
50%    126549.000000
75%    161449.500000
max    193886.000000
0

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [6]:
# Checking datatypes and entries
print(ratings.info())


print(ratings.head())

# Investigating what kind of values we have in the rating
# Can see that we have from 0.5-5.0, i want to avoid diluting this list 
print(ratings.value_counts(['rating']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB
None
   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264
rating
4.0       7394710
3.0       5515668
5.0       4071135
3.5       3404360
4.5       2373550
2.0       1850627
2.5       1373419
1.0        886233
0.5        442388
1.5        441354
dtype: int64

In [7]:
# So we have zero NaN values in the entire df of ratings, for now...
print(ratings.isnull().sum().sum())

0

In [8]:
# TODO: Plot how many NaN values there is in the dataset

# TODO: See how many missing values there is in the dataset

In [9]:
# TODO: Plot how many NaN values there is in the dataset
# TODO: Plot top10 movies with best ratings
# TODO: Calculate the mean rating for the top10 with THE MOST ratings, and plot
# TODO: Do a plot over the years and how many movies that was created that year, to represent the dataset
# TODO: Do a plot over the combined rating against movield
# TODO: Calculate the mean ratings for the top10 movies with the most ratings, make a stapel diagram from this

# TODO: There is a logical error in the video guide. (Might have something to do with the quote below)
       # "Hi, while you are trying not to present the recommendation of 'toy story' itself, by adding: print(df_movies['title'][i].where(i!=idx))
        # you still have that in the first line as NaN"

       # Maybe it is because in df_movies movield the toy story has index 0? Somehow it can mess with
       # everything since we fillna 0 values to rating